body {
  line-height: 1;
}

.content {
  background-color: #2d197c;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.todo_list {
  background-color: #fff;
  height: auto;
  width: 50vw;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.top_con {
  display: flex;
  justify-content: space-between;
}

.top_con_right {
  display: flex;
}

.login_con {
  font-size: 16px;
  margin-right: 15px;
  margin-top: 8px;
}

.btn-logout {
  background-color: #fff;
  border: 2px solid rgb(232, 14, 14);
  color: rgb(232, 14, 14);
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 18px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-logout:hover {
  background: rgb(232, 14, 14);
  color: #fff;
}

.btn-find {
  display: inline-block;
  background-color: #fff;
  border: 2px solid rgb(76, 241, 6);
  color: rgb(76, 241, 6);
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

.btn-find:hover {
  background: rgb(76, 241, 6);
  color: #fff;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input_task {
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
}

.input_add {
  height: 20px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 7px;
}

.input_search {
  height: 20px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 7px;
}

.tag_con {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 7px 5px;
  border-radius: 5px;
  outline: none;
}

.btn-add {
  background-color: #fff;
  border: 2px solid rgb(239, 2, 212);
  color: rgb(239, 2, 212);
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 18px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-search {
  background-color: #fff;
  border: 2px solid rgb(239, 2, 212);
  color: rgb(239, 2, 212);
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 18px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-add:hover {
  background: rgb(239, 2, 212);
  color: #fff;
}

.btn-search:hover {
  background: rgb(239, 2, 212);
  color: #fff;
}

table {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

table tr {
  height: 50px;
}

table th,td {
  padding: 5px;
  word-break: break-all;
}

.task_con {
  width: 90%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

.tag_name {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 7px 5px;
  border-radius: 5px;
  outline: none;
}

.btn-update {
  background-color: #fff;
  border: 2px solid rgb(226, 61, 16);
  color: rgb(226, 61, 16);
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 18px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-update:hover {
  background: rgb(226, 61, 16);
  color: #fff;
}

.btn-delete {
  background-color: #fff;
  border: 2px solid rgb(8, 217, 130);
  color: rgb(8, 217, 130);
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 18px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-delete:hover {
  background: rgb(8, 217, 130);
  color: #fff;
}

.btn-return {
  background-color: #fff;
  border: 2px solid rgb(55, 57, 57);
  color: rgb(55, 57, 57);
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 18px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-return:hover {
  background: rgb(55, 57, 57);
  color: #fff;
}